In [3]:
import pandas as pd 
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [2]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [3]:
df.corr()

                   Year  Selling_Price  Present_Price  Kms_Driven     Owner
Year           1.000000       0.236141      -0.047584   -0.524342 -0.182104
Selling_Price  0.236141       1.000000       0.878983    0.029187 -0.088344
Present_Price -0.047584       0.878983       1.000000    0.203647  0.008057
Kms_Driven    -0.524342       0.029187       0.203647    1.000000  0.089216
Owner         -0.182104      -0.088344       0.008057    0.089216  1.000000

In [4]:
df.shape

(301, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
df['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [4]:
# data preprocessing

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
col = ['Fuel_Type','Seller_Type','Transmission','Owner','Year','Car_Name']
for c in col:
    df[c]=le.fit_transform(df[c])
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,11,3.35,5.59,27000,2,0,1,0
1,93,10,4.75,9.54,43000,1,0,1,0
2,68,14,7.25,9.85,6900,2,0,1,0
3,96,8,2.85,4.15,5200,2,0,1,0
4,92,11,4.60,6.87,42450,1,0,1,0

In [5]:
df['Present_Price'] = df['Present_Price'] * 100 
df['Selling_Price'] = df['Selling_Price'] * 100
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,11,335.0,559.0,27000,2,0,1,0
1,93,10,475.0,954.0,43000,1,0,1,0
2,68,14,725.0,985.0,6900,2,0,1,0
3,96,8,285.0,415.0,5200,2,0,1,0
4,92,11,460.0,687.0,42450,1,0,1,0

In [6]:
x = df.drop(columns='Selling_Price',axis=1)
y = df['Selling_Price']
print(x)
print(y)

     Car_Name  Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  \
0          90    11          559.0       27000          2            0
1          93    10          954.0       43000          1            0
2          68    14          985.0        6900          2            0
3          96     8          415.0        5200          2            0
4          92    11          687.0       42450          1            0
..        ...   ...            ...         ...        ...          ...
296        69    13         1160.0       33988          1            0
297        66    12          590.0       60000          2            0
298        69     6         1100.0       87934          2            0
299        69    14         1250.0        9000          1            0
300        66    13          590.0        5464          2            0

     Transmission  Owner
0               1      0
1               1      0
2               1      0
3               1      0
4               1      0
..            ...    ...
296             1      0
297             1      0
298             1      0
299             1      0
300             1      0

[301 rows x 8 columns]
0       335.0
1       475.0
2       725.0
3       285.0
4       460.0
        ...
296     950.0
297     400.0
298     335.0
299    1150.0
300     530.0
Name: Selling_Price, Length: 301, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
print(x.shape,x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(301, 8) (210, 8) (91, 8) (210,) (91,)

In [8]:
from sklearn.tree import DecisionTreeRegressor
dt =  DecisionTreeRegressor()
dt.fit(x_train,y_train)
print("accuracy:",dt.score(x_test,y_test)*100)

accuracy: 97.05297808144499

In [9]:
# save the model
import pickle
filename = 'savedmodel.sav'
pickle.dump(dt ,open(filename, 'wb'))

In [16]:
load_model = pickle.load(open(filename, 'rb'))

load_model.predict([[9, 11, 599.0, 17000, 2, 0, 1, 0]])

C:\Users\AMARNADH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([135.])