In [1]:
import pandas as pd 
df = pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [15]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [6]:
df.shape

(301, 9)

In [7]:
df.corr()

                   Year  Selling_Price  Present_Price  Kms_Driven     Owner
Year           1.000000       0.236141      -0.047584   -0.524342 -0.182104
Selling_Price  0.236141       1.000000       0.878983    0.029187 -0.088344
Present_Price -0.047584       0.878983       1.000000    0.203647  0.008057
Kms_Driven    -0.524342       0.029187       0.203647    1.000000  0.089216
Owner         -0.182104      -0.088344       0.008057    0.089216  1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [9]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [12]:
df['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [13]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

In [16]:
df['Owner'].value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

In [18]:
df['Year'].value_counts()

2015    61
2016    50
2014    38
2017    35
2013    33
2012    23
2011    19
2010    15
2008     7
2009     6
2006     4
2005     4
2003     2
2007     2
2018     1
2004     1
Name: Year, dtype: int64

In [2]:
# data preprocessing

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
col = ['Fuel_Type','Seller_Type','Transmission','Owner','Year']
for c in col:
    df[c]=le.fit_transform(df[c])
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,11,3.35,5.59,27000,2,0,1,0
1,sx4,10,4.75,9.54,43000,1,0,1,0
2,ciaz,14,7.25,9.85,6900,2,0,1,0
3,wagon r,8,2.85,4.15,5200,2,0,1,0
4,swift,11,4.60,6.87,42450,1,0,1,0

In [3]:
x = df.drop(columns='Selling_Price',axis=1)
y = df['Selling_Price']
print(x)
print(y)

    Car_Name  Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  \
0       ritz    11           5.59       27000          2            0
1        sx4    10           9.54       43000          1            0
2       ciaz    14           9.85        6900          2            0
3    wagon r     8           4.15        5200          2            0
4      swift    11           6.87       42450          1            0
..       ...   ...            ...         ...        ...          ...
296     city    13          11.60       33988          1            0
297     brio    12           5.90       60000          2            0
298     city     6          11.00       87934          2            0
299     city    14          12.50        9000          1            0
300     brio    13           5.90        5464          2            0

     Transmission  Owner
0               1      0
1               1      0
2               1      0
3               1      0
4               1      0
..            ...    ...
296             1      0
297             1      0
298             1      0
299             1      0
300             1      0

[301 rows x 8 columns]
0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [7]:
x = df.drop(columns='Car_Name',axis=1)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
print(x.shape,x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(301, 8) (210, 8) (91, 8) (210,) (91,)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [10]:
model.fit(x_train,y_train)
print("Accuracy:",model.score(y_test,z_test)* 100)

ValueError: Unknown label type: 'continuous'